@font-face {
    font-family: 'Eight Bit Dragon';  
    src: url('fonte/fonteRPG.ttf') format('truetype');  
}

body {
    font-family: 'Eight Bit Dragon', sans-serif;
    font-size: 14px;
}

a {
    margin-left: 10px;
}

.menu-button {
    margin-bottom: 10px;
    background-color: #fff;
    border: 3px solid #feac32;
    border-radius: 10px 10px 10px 10px;
    width:400px;
    height: 40px;
    color:#0a0a23;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
    padding-top: 10px;
}